<div class="album">
    <h3>{{ labelEditingAlbum }}</h3>
    <br/>
    <div class="form-group col-sm-3">
        <form [formGroup]="albumForm" (ngSubmit)="save()">
            <label class="form-label">{{ labelTitle }}:</label>
            <input class="form-control" formControlName="title" placeholder="Title"/>
            <label class="form-label">{{ labelReleasedDate }}:</label>
            <input class="form-control" formControlName="releaseDate" type="date"/>
            <br/>
            <button class="btn btn-light" (click)="gotoAlbumsPage()">{{ labelBtnCancel }}</button>
            &nbsp;
            <button class="btn btn-primary" type="submit">{{ labelBtnSave }}</button>
        </form>
    </div>
</div>
