<div class="album form-group col-sm-4">
    <div *ngIf="isSuccess" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="isError" class="alert alert-danger">{{ errorMessage }}</div>
    <h2>Registration Form</h2><br/>
    <form #registerForm="ngForm" (ngSubmit)="register()">
        <label class="form-label">Name:</label>
        <input class="form-control" name="name" placeholder="Your name" [(ngModel)]="name"/>
        <label class="form-label">Username:</label>
        <input class="form-control" name="username" placeholder="Username" [(ngModel)]="username"/>
        <label class="form-label">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
        <label class="form-label">Confirm Password:</label>
        <input class="form-control"  type="password" name="confirmPassword" placeholder="Confirm password" [(ngModel)]="confirmPassword"/>
        <br/>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>