<div class="album form-group col-sm-4">
    <h2>Registration Form</h2><br/>
    <form #registerForm="ngForm" (ngSubmit)="register()">
        <label class="form-label">Name:</label>
        <input class="form-control" name="name" placeholder="your name" [(ngModel)]="name"/>
        <label class="form-label">Username:</label>
        <input class="form-control" name="username" placeholder="username" [(ngModel)]="username"/>
        <label class="form-label">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="password" [(ngModel)]="password"/>
        <label class="form-label">Confirm Password:</label>
        <input class="form-control"  type="password" name="confirmPassword" placeholder="confirm password" [(ngModel)]="confirmPassword"/>
        <br/>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>