<div class="album">
    <h1> {{ album.title }} </h1>
    <h3> Released Date: {{ album.releaseDate | date: "dd MMMM YYYY" }} </h3>
    <h4> List of Songs: </h4>
    <ol>
        <li *ngFor="let song of album.songs"> {{ song.title }} &nbsp; <button class="btn btn-link" (click)="deleteOneSong(song._id)"><i>Delete</i></button></li>
    </ol>
    <br/>
    <br/>
    <button class="btn btn-light" routerLink="/albums"> < Back</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary">Edit</button>
    <br/><br/>
    <app-add-song [albumId]="album._id"></app-add-song>
</div>
