<div class="album form-group col-sm-3">
    <h2>Login Form</h2><br/>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label class="form-label">Username:</label>
        <input class="form-control" formControlName="username" placeholder="username" />
        <label class="form-label">Password:</label>
        <input class="form-control" type="password" formControlName="password" placeholder="password" />
        <br/>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>