<div class="album">
    <h3>List of Albums: </h3>
    <ul>
        <li *ngFor="let album of albums"><a routerLink="/albums/{{album._id}}"> {{ album.title }} </a> &nbsp;&nbsp; Released Date: {{ album.releaseDate | date: "dd-MM-yyyy"}} &nbsp;<button class="btn btn-link" (click)="delete(album._id)"><i>Delete</i></button></li>
    </ul>
    <br/>
    <button class="btn btn-light" (click)="getPreviousPage()" [disabled]="disablePreviousButton()">< Previous</button>
    &nbsp;
    <button class="btn btn-light" (click)="getNextPage()" [disabled]="disableNextButton()">Next ></button>
</div>
